Bright-lite/blmod.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

	<define name="blmod">
	  <element name="blmod">
            <element name="input">
	      <element name="commodities">
                <ref name="incommodity"/>
	      </element>
	    <ref name="batches"/>
	    <ref name="burnup"/>
	  </element>
	</define>
